.form-container {
    height: 100px;
    background-color: #323a45;
    position: fixed;
    top: 0;
    z-index: 100;
}
.form-container div.row {
    height: inherit;
}
.data-container {
    /* margin-top: 30px; */
    height: 470px;
    overflow: scroll;
    padding: 10px;
}
.get-json-btn {
    background-color: #23C0BA !important;
    border: 1px solid #23C0BA;
    font-weight: bold;
}
.error-title {
    font-size: 3em;
    font-weight: bold;
}
.error-item span {
    font-weight: bold;
}
.error-data {
    list-style: none;
}

.json-content {
    margin-top: 110px;
    height: 600px;
    overflow: scroll;
}
